# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env.local


# typescript
*.tsbuildinfo

# keys
*.jks
*.pem

# firestore
*.rules

# proxies and others
admin-panel/
bank-proxy/
driver-proxy/
maps-proxy/
booking.html

# sensitive config files (may contain keys)
app.config.js
google-services.json
signature.txt
utils/firebaseConfig.ts

